 h2 {
         text-align: center;
}
tfoot td {
    text-align: center;
    background-color: #7fb9c2;
    font-size: .7em;
    padding: 0.7em;
} 

table {
    text-align: center;
    border-collapse: collapse;
    border:2px solid #ddd;
    box-shadow: 10px 10px 10px #7fb9c2;
    font-family: ubuntu, sans-serif;
    padding: 4px;
}
tr:nth-child(odd) {
    background-color: #e7ffed;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
thead th {
    color: black;
    background-color:#7fb9c2;

}
tbody th {
    font-size: 20px;
    background-color: #628ca6;
    color: white;
    border: 2px solid #ddd;
    padding: 4px;

}
td {
    font-size: 16px;
    padding: 6px;
    border: 2px solid #ddd;
}

.first {
    background-color: #628ca6;
    color: white;
}